{% extends 'base.html' %}
{% block content %}
{{block.super}}

    {% for category in images %}
        

         <img src="">
    <div class="col-md-3">

            <h2>{{category.name}}</h2>
          
                <img src="{{category.image.url}}" class="img-responsive" style="width: 200px; height: 200px" alt="Image"/>
         
            <a href="/image/{{category.id}}">{{category.name}}</a>
            <p>{{category.upload_date}}</p>
            {% for location in image_item.location.all %}
                <p></p>{{location}}
            {% endfor %}

    </div>
{% endfor %}
</div>
{%endblock%}